@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url('../assets/fonts/material-icons.woff2') format('woff2'), url('../assets/fonts/material-icons.woff') format('woff');
}

.material-icons {
   font-family: 'Material Icons';
}
