<mat-toolbar>

   <button mat-icon-button class="example-icon" aria-label="">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Event Tracker</span>

   <a routerLink="/create-event">Create Event</a>

   <a routerLink="/about">About Page</a>

   <a routerLink="/signin">Sign In Page</a>

   <span class="spacer"></span>

   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>

   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>

 </mat-toolbar>