<mat-toolbar class="navbar">

   <a mat-icon-button routerLink="/" aria-label="home-button">
     <mat-icon>home</mat-icon>
   </a>
   <span>Event Tracker</span>

   <span class="spacer"></span>

   <a mat-raised-button routerLink="/create-event">Create Event</a>

   <a mat-raised-button routerLink="/about">About Page</a>

   <a mat-raised-button routerLink="/signin">Sign In Page</a>

   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>settings</mat-icon>
   </button>

 </mat-toolbar>